* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.noCursor {
    cursor: none;
}

#gameArea {
    display: block;
    position: relative;
    height: 100%;
    width: 100%;
}

#gameCanvas {
    width: 100%;
    height: 100%
}

.debug {
    position: fixed;
    top: 10px;
    left: 10px;
    opacity: 0.6;
    z-index: 10;
    background-color: #ccc;
}

.debug table tr:first-child {
    text-align: right;
}

.debug table td, table th {
    text-align:right;
}

.debug table td + td, table th + th {
    text-align: left;
}



